<div class="container">
    
    <nav id="sidebar" class="active">
        
         <div id="dismiss">
             <button class="btn btn-danger">
                <i class="fas fa-times"></i>
            </button>
            </div>
            
      <p class="mb-20">
        <h2>Dashboard</h2>
      </p>
        <ul class="list-unstyled components ">
            <li><a href="">Academic Program</a></li>
            <li><a href="">Admission</a></li>
            <li><a href="">Infrastructural Development</a></li>
            <li><a href="/imt/student">Student</a></li>
            <li><a href="">Staff</a></li>
            <li><a href="">Research</a></li>
            <li><a href="">Awards and Honour</a></li>
            <li><a href="">Affiliation And Linkages</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
   
</div>