<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navi">
    <button type="button"  class=" toggle btn btn-info">
        <i class="fas fa-align-left"></i>
        <span></span>
    </button>
    <div class="container-fluid" >
        <h3  class="nav-brand text-primary"><a href="/">FUTMinna Management System</a></h3>
   <button type="button" id="login" class="btn btn-dark d-inline-block" aria-controls="navi" aria-expanded="false" aria-label="Toggle navigation" >
        <i class="fas fa-user-circle"></i>
        <span><a href="/logout">LogOut</a></span>
    </button>
    
</div>
</nav>